<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
open "http://apidock.com/ruby/search/quick?query=$TM_CURRENT_WORD"
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Documentation for Word (APIDock)</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>toolTip</string>
	<key>scope</key>
	<string>source.ruby &amp; attr.os-version.10.9</string>
	<key>semanticClass</key>
	<string>lookup.define.ruby</string>
	<key>uuid</key>
	<string>63F3B3B7-CBE2-426B-B551-657733F3868B</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
